In [7]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame,read_html
import html5lib
#to read html,we import html from pandas

_df1 = pd.read_csv('lol.csv', header=None)
# _df1.columns=["a","b","c","fruits"] #This is how we change column name
_df1['1'] = [1,1,1,1]
_df1

#we can use pd.read_table("anyfile.extension",sep="")
#when we use above we can read from any file just to mention serperstion
# _df2 = pd.read_table("lol.txt",sep=";",header = None,nrows=2)#there is no ncolumns parameter

# _df2

    0   1   2        3  1
0   q   s   t    apple  1
1  11  22  33  mangoes  1
2  s3  34  4r    peach  1
3  s1  s2  s3     dosa  1

In [1]:
# To load JSON
import json
#data_obj = json.loads(file name)

In [55]:
# url="http://www.fdic.gov/bank/individual/failed/banklist.html"
url="https://wikipedia.org/wiki/india"
dfl = pd.read_html(url, flavor="html5lib")
dfl = dfl[3]
print(len(dfl[3]))
l = dfl.shape
print(l)
dfl = DataFrame(dfl.values.reshape((36,1)),columns=["place"])#array length should be same, not lower or higher,else it will be error
dfl

9
(9, 4)

                                     place
0                        1. Andhra Pradesh
1                    10. Jammu and Kashmir
2                             19. Nagaland
3                          28. Uttarakhand
4                     2. Arunachal Pradesh
5                            11. Jharkhand
6                               20. Odisha
7                          29. West Bengal
8                                 3. Assam
9                            12. Karnataka
10                              21. Punjab
11          A. Andaman and Nicobar Islands
12                                4. Bihar
13                              13. Kerala
14                           22. Rajasthan
15                           B. Chandigarh
16                         5. Chhattisgarh
17                      14. Madhya Pradesh
18                              23. Sikkim
19               C. Dadra and Nagar Haveli
20                                  6. Goa
21                         15. Maharashtra
22                          24. Tamil Nadu
23                        D. Daman and Diu
24                              7. Gujarat
25                             16. Manipur
26                           25. Telangana
27                          E. Lakshadweep
28                              8. Haryana
29                           17. Meghalaya
30                             26. Tripura
31  F. National Capital Territory of Delhi
32                     9. Himachal Pradesh
33                             18. Mizoram
34                       27. Uttar Pradesh
35                           G. Puducherry

In [ ]:
#To open  Excel file
# Excel_obj = pd.ExcelFile('filename.extension')
# df = Excel_obj.parse('sheet1) name to be given to new sheet